html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #DCECFE;
    background: -webkit-linear-gradient(-450deg, transparent, rgba(0, 0, 0, 0.05))
      repeat-y, -webkit-linear-gradient(-450deg, transparent, rgba(0, 0, 0, 0.05))
      repeat-y, -webkit-linear-gradient(-450deg, transparent, rgba(0, 0, 0, 0.05))
      repeat-y, -webkit-linear-gradient(-450deg, transparent, rgba(0, 0, 0, 0.05))
      repeat-y, -webkit-linear-gradient(-450deg, transparent, rgba(0, 0, 0, 0.05))
      repeat-y, -webkit-linear-gradient(-390deg, #DCECFE 0%, #F5E1EE 100%) no-repeat;
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0)) repeat-y, linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.05)) repeat-y, linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.05)) repeat-y, linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.05)) repeat-y, linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.05)) repeat-y, linear-gradient(120deg, #5299D3 0%, #0B5563 100%) no-repeat;
    background-position: 10%, 30%, 50%, 70%, 90%, 0;
    background-size: 2px auto, 2px auto, 2px auto, 2px auto, 2px auto, 100% auto;
    background-attachment: fixed;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

.vertical-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* INTRO STYLE */

.intro {
    width: 100%;
    height: 100%;
    color: #FFFFFF; /*intro text colour*/
}

.intro h1 {
    font-family: proxima-nova,sans-serif;
    font-weight: 800;
    font-size: 7.25em;
    line-height: 1.33;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.intro h1:nth-child(2) {
    color: #313131;
}

/*"EVAN" text colour*/
.intro h1:nth-child(2) span {
    text-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.25);
}

.intro span {
    position: relative;
    display: inline-block;
    width: 0.85em;
    text-transform: uppercase;
    text-align: center;
}

/* biography STYLE */

.biography {
    width: 100%;
    height: 100%;
    color: #FFFFFF; /*Biography text colour*/
}

.biography h1 {
    font-family: proxima-nova,sans-serif;
    font-weight: 800;
    font-size: 7.25em;
    line-height: 1.33;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.biography h1:nth-child(2) {
    color: #313131;
}

/*"EVAN" text colour*/
.biography h1:nth-child(2) span {
    text-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.25);
}

.biography span {
    position: relative;
    width: 0.85em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 2em;

}

.biography p {
    font-family: proxima-nova,sans-serif;
    position: relative;
    text-align: left;
    letter-spacing: 0em;
    padding-top: 1em;
    color: #d4d4d4;
    font-size: 1.5em;

}

.profile img {
  width:75px;
  height:75px;
  vertical-align: middle;
  shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.25);
}

/* PROJECTS STYLE */

.projects {
    width: 100%;
    height: 100%;
    color: #FFFFFF; /*intro text colour*/
}

.projects h1 {
    font-family: proxima-nova,sans-serif;
    font-weight: 800;
    font-size: 5.25em;
    line-height: 1.33;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.projects span {
    position: relative;
    display: inline-block;
    width: 0.85em;
    text-transform: uppercase;
    text-align: center;
}

.projectnav li {
  display: inline;
  font-size: 1.55em;
  letter-spacing: 0.1em;
  padding-right: 1.1em;
  text-transform: uppercase;

}

.projectnav li:hover {
  color: black;
}

.active {
  color: #FFFFFF;
}

.display h1 {
  font-size: 0;
  font-weight: 800;
}

.jumbotron {
  background-image: url("Stolpmann.github.io/Assets/ProletariatPic.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.project-container {
  margin: 25em,25em,25em,25em,;
  background-color: rgba(0, 0, 0, 0.9);
}

/* SUBSCRIBE BAR STYLE */

.subscribe {
    padding-top: 150px;
    margin-top: 150px;
    background-color: #313131;
    height: 200px;
}

.subscribe h2, h4{
    font-family: proxima-nova, sans-serif;
    font-weight: 800;
    font-size: 2.25em;
    line-height: 1.33;
    text-align: center;
    color: #FFFFFF;
}

/* KEY FRAMES & @media screen fitting */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}




@media screen and (max-width: 87.5em) {
    .intro h1 {
        font-size: 6em;
    }
}

@media screen and (max-width: 61.625em) {
    .intro h1 {
        font-size: 5em;
    }
}

@media screen and (max-width: 33.75em) {
    .intro h1 {
        font-size: 4.5em;
    }
}

@media screen and (max-width: 61.625em) {
    .intro {
        padding: 0 3.5em;
    }
}


@media screen and (max-width: 61.625em) {
    .contact {
        padding: 1.25em 3.5em 7.5em 3.5em;
    }
}

.container {
    width: 80%;
    max-width: 75em;
    margin: 0 auto;
}

@media screen and (max-width: 87.5em) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 61.625em) {
    .container {
        width: 100%;
    }
}

html {
    font: 800 normal 100%/1.4 "proxima-nova", "brandon-grotesque", sans-serif;
}

@media screen and (max-width: 100em) {
    html {
        font-size: 90%;
    }
}

@media screen and (max-width: 87.5em) {
    html {
        font-size: 80%;
    }
}

@media screen and (max-width: 61.625em) {
    html {
        font-size: 70%;
    }
}

@media screen and (max-width: 33.75em) {
    html {
        font-size: 60%;
    }
}

/*  projectlist */
