.container-small, .container-large {
    max-width: 100%;
}

body {
    background-color: #FFFFFF;
}


button, button:focus{
  outline: none;
  background: transparent;
  border: none;
}

button:active{
  outline: none;
  background: transparent;
  border: none;
}