@media (min-width: 992px) {
    .jumbotron {
        margin-right: 0px;
        margin-left: 0px;
    }
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1170px;
    }
}
@media (min-width: 1200px) {
    .jumbotron {
        margin-right: 100px;
        margin-left: 100px;
    }
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1500px;
    }
}

.container-small, .container-large {
    max-width: 100%;
}

